<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if title %}
			<title>NT - {{ title }}</title>
		{% else %}
			<title>Negocios El Triunfo</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsiveslides.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	</head>
	<body>
		<div class="container-fluid p-0">
			<header>
				<div id="site-header">
					<div id="header">
						<div class="header-core">
							<div id="logo">
								<a class="" href="/">
									<img src="{{ url_for('static', filename='svg/logo1.svg') }}" alt="Negocios">
									<h2 class="site-desc">Estamos Trabajando!</h2>
								</a>
							</div>
							<div class="nav-links">
								<div class="menu-toggle"></div>
								<div class="nav-links-inner">
									<ul>
										<li><a href="/">Home</a></li>
										<li><a href="{{ url_for('about') }}">About</a></li>
										<li><a href="{{ url_for('blog') }}">Blog</a></li>
										<li class="menu-parent">
											<a href="#">Comunidad</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Slider Responsive?? -->
				{% if request.path == '/' %}
					{% include 'slides.html' %}
				{% endif %}
			</header>
			<!-- Main Content -->
			{% block content %}
			{% endblock %}
			<footer id="footer">
				<div class="container">
					<div class="row p-3">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>Productos</h3>
							<ul class="text-white">
								<li><a href="#">Luminarias</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>Información</h3>
							<ul class="text-white">
								<li><a href="#">Trabaja con nosotros</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h3>Ayuda</h3>
							<ul class="text-white">
								<li><a href="#">Política de Trabajo</a></li>
								<li><a href="#">Preguntas Frecuentes(FAQ)</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
			<div class="bottom-footer">
				<div class="container text-white">
					<p>Created By @Redfox </p>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/responsiveslides.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/demo.js') }}"></script>
	</body>
</html>