{% block content %}			
	<div id="slides" class="container-fluid p-0">
		<div class="slider-wrapper h-100">
			<ul class="slides rslides">
				<li>
					<div class="slides-content">
						<div class="wrap-fox">
							<div class="rslides-content-inner">
								<div class="featured featured_s0"> 			
									<h2 class="p-2 bg-fox text-center">MARCAS</h2>
									<section>
										<p class="bg-white p-4">FSL, Philips, Phelix, Ge, Uyustools</p>
										<a href="#" class="featured-btn ml-5">Productos</a>
									</section>
								</div>							
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="slides-content">
						<div class="wrap-fox">
							<div class="rslides-content-inner">
								<div class="featured featured_s1">
									<h2 class="p-2 bg-fox">PROMOCIONES</h2>
									<section>
										<p class="bg-white p-4">Conoce sobre nuestras ofertas y descuentos! :D</p>
										<a href="#" class="featured-btn mr-5">Conoce</a>
									</section>
								</div>								
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="slides-content">
						<div class="wrap-fox">
							<div class="rslides-content-inner">
								<div class="featured featured_s2">
									<h2 class="p-2 bg-fox">PLANTAS DE INTERIOR</h2>
									<section>
										<p class="bg-white p-4">Da más vida a tus espaciós y a tu hogar!</p>
										<a href="#" class="featured-btn ml-5">Catálogos</a>
									</section>			
								</div>								
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}